html, body{
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    height: 100%;
    margin: 0;
    opacity: 0;
    transition: opacity 0.7s ease;
}

html.active, body.active{
    opacity: 1;
}

h1, h2, h3, h4, h5, p, li{
    user-select: none;
} 

header {
    height: 60px;
}

.nav-link{
    font-weight: light;
    font-size: 25px;
    color: dimgrey;
    transition: font-size 0.1s ease;
}

.nav-link.active{
    font-weight: 550;
    font-size: 26px;
    color: royalblue;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Subtract the height of the header element from the viewport height */
    max-height: calc(100vh - 60px); /* Set a maximum height to prevent overflowing */
    position: relative; /* Add relative positioning */
}

#main-carousel {
    width: 100%;
    height: 100%;
    position: absolute; /* Add absolute positioning */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
}

.carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.carousel-item {
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    visibility: hidden;
}

footer{
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 20px;
}

.test-box{
    width: 45vw;
    height: 85vh;
    background-color: darkorange;
    display: flex;    /* --- this brake ---- */
    margin-left: 120px;
    padding: 15px;
}

.project-box{
    width: 200px;
    height: 50px;
    border-style: solid;
    background-color: olive;
}

.box-header {
    text-align: center;
}

.box-header p{
    font-size: 16px;
    font-style: italic;
    text-align: left;
}

.box-header ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.box-header ul li{
    border-radius: 40px;
    background-color: gainsboro;
    margin: 10px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
   /*  font-weight: bold; */
   transition: padding 0.5s ease;
}

.box-header ul li:hover{
    padding-left: 25px;
    padding-right: 25px;
}

.contact{
    /* background-color: orange; */
    font-size: 100px;
    width: 70%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact i{
    font-size: larger;
    margin: 20px 20px;
    transition: color 1s ease;
    /* background-color: red; */
}

.contact i:hover{
    color: palevioletred;
}

.kirbo{
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 55%;
    width: 500px;
    transition: width 2s ease;
}

.kirbo-bot{
    display: none;
}

.kirbo:hover{
    width: 525px;
}

.kirbo:active {
    pointer-events: none;
}


/* ==================== MOBILE ============================= */


@media only screen and (max-width: 1170px) {

   .carousel-item{
    margin-top: 0 !important;
   }

    .test-box{
        padding: 25px;
        width: 100vw;
        margin: 0;
    }

    .txt-stack{
        display: none;
    }

    .kirbo{
        display: none;
    }

    .box-header h1{
        font-size: 38px;
    }

    .box-header p{
        font-size: 14x;
    }

    .kirbo-bot{
        display: block;
        position: fixed;
        z-index: 1;
        bottom: 2%;
        left: 2%;
        width: 100px;
        transition: width 0.7s ease;
    }

    .kirbo-bot:hover{
        width: 120px;
    }
    .kirbo-bot:active {
        pointer-events: none;
    }

    .contact{
        /* background-color: orange; */
        font-size: 60px;
        width: 70%;
        height: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .contact i{
        font-size: larger;
        margin: 20px 20px;
        transition: color 1s ease;
        /* background-color: red; */
    }

    footer{
        font-size: medium;
        position: fixed;
    }

  /*   .carousel-item{
        margin-bottom: 0;
    } */
  }